* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-device-width: 700px) {
  .responsivel {
    flex-direction: row;
  }
}

@media only screen and (max-device-width: 699px) {
  .responsivel {
    flex-direction: column;
  }
}
